# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db

# Virtual Environment
venv/
.env

# Node
node_modules/
dist/

# Logs
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Uploads
backend/uploads/

# Python cache
.pytest_cache/
.mypy_cache/

# Build
build/